<div class="md-copyright">
  © {{ build_date_utc.year }}
  <a href="{{ '/' | url }}">MAO Research Group</a> – CNR-INM
  <span class="footer-icons">
    <a href="https://github.com/cnr-inm-mao" target="_blank" rel="noopener" aria-label="GitHub">
      <img src="{{ 'assets/icons/githubw.svg' | url }}" alt="GitHub" />
    </a>
    <a href="https://zenodo.org/communities/cnr-inm-mao/" target="_blank" rel="noopener" aria-label="Zenodo">
      <img src="{{ 'assets/icons/zenodo.svg' | url }}" alt="Zenodo" />
    </a>
  </span>
</div>
